html, body {
    margin: 0;
    padding: 0;
    background-color: #161616;
  }

#nav-box {
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

#nav {
    padding-left: 120px;
}

#nav-auth {
    display: flex;
    justify-content: flex-end;
    padding-right: 120px;
    padding-left: 0px;
}

#nav li {
    display: inline-block;
    color: white;
    margin-right: 90px;
    font-size: 15px;
}

#nav-auth li {
    display: inline-block;
    color: white;
    margin-left: 90px;
    font-size: 15px;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#nav #logo {
    font-size: 18px;
}

.backdrop-container {
    position: relative;
    text-align: center;
    color: white;
    background-image: url(./images/2d-backdrop.png);
    background-size: cover;
    background-position: center;
    height: 610px;
}

.backdrop-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.backdrop-button {
    background-color: #0066ff;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.backdrop-content h1 {
    font-size: 70px;
    line-height: 85px;
    display: inline-block;
}

.backdrop-content p {
    font-size: 19px;
}