#nav-box {
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

#nav {
    padding-left: 120px;
}

#nav-auth {
    display: flex;
    justify-content: flex-end;
    padding-right: 120px;
    padding-left: 0px;
}

#nav li {
    display: inline-block;
    color: white;
    margin-right: 90px;
    font-size: 14px;
}

#nav-auth li {
    display: inline-block;
    color: white;
    margin-left: 90px;
    font-size: 14px;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#nav #logo {
    font-size: 17px;
}

.backdrop-container {
    position: relative;
    text-align: center;
    color: white;
    background-image: url('https://img.craftpix.net/2017/09/Free-Horizontal-2D-Game-Backgrounds-3.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
}

.backdrop-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.backdrop-button {
    background-color: #0066ff;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.backdrop-content h1 {
    font-size: 60px;
    line-height: 70px;
}

.backdrop-content p {
    font-size: 18px;
}
  /*
.backdrop-container {
    background: url(./images/2d-glacierscene-backdrop.png) lightgray 50% / cover no-repeat;
    mix-blend-mode: overlay;
    align-items: center;
}
*/