html,
body {
  margin: 0;
  padding: 0;
  background-color: #1b1b1b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #4d4d4d;
}

#nav-box a,
#nav-box a:visited,
#nav-box a:active,
#nav-auth a,
#nav-auth a:visited,
#nav-auth a:active {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: white;
}

#nav-box a:hover,
#nav-auth a:hover {
  color: white;
  text-decoration: underline;
}

#nav {
  padding-left: 160px;
}

#nav-auth {
  display: flex;
  justify-content: flex-end;
  padding-right: 160px;
  padding-left: 0px;
}

#nav li {
  display: inline-block;
  color: white;
  margin-right: 90px;
  font-size: 15px;
}

#nav-auth li {
  display: inline-block;
  color: white;
  margin-left: 90px;
  font-size: 15px;
}

/*
#get-started {
    padding: 4px;
    border: 1px solid white;
}
*/

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
}

#nav #logo {
  font-size: 19px;
}

.backdrop-container {
  position: relative;
  text-align: center;
  color: white;
  background-image: url(./images/2d-main-backdrop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 680px;
}

.backdrop-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backdrop-button {
  background-color: #08c;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  transition: filter 0.1s cubic-bezier(0.61, 0.01, 0.58, 1);
}

.backdrop-button:hover {
  filter: brightness(
    80%
  ); /* Adjust brightness or add any other desired hover effect */
}

.backdrop-content h1 {
  font-size: 72px;
  line-height: 85px;
  display: inline-block;
  margin: 0px;
  width: 800px;
}

.backdrop-content p {
  font-size: 20px;
  padding: 10px;
}

.about-content {
  padding-top: 20px;
  text-align: center;
}

.about-content h2,
.feature-content h2,
.tutorial-content h2 {
  font-size: 35px;
  text-align: center;
}

.about-content p {
  display: inline-block;
  margin: auto;
  width: 65%;
  padding-bottom: 40px;
  font-size: 18px;
}

.about-image-container {
  display: grid;
  gap: 32px;
  margin: 0 160px;
  grid-template-columns: repeat(2, 1fr);
}

.about-image-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid #515151;
}

.columns {
  color: white;
}

.faq-container h2 {
  text-align: center;
  font-size: 35px;
}

.faq-container h4 {
  font-size: 20px;
  margin: 20px 0;
}

.faq-container p {
  font-size: 16px;
  margin: 0 0 10px 0;
  padding-left: 50px;
}

.faq-container {
  padding: 17px 160px;
}

.faq-question {
  padding-bottom: 15px;
  border-bottom: 1px solid white;
}

.copyright-div {
  text-align: center;
  font-size: 15px;
  border-top: 0.5px solid #4d4d4d;
}

.image-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;

  margin-bottom: 20px;
}

.generate-header {
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 30px;
}

.generate-header span {
  color: #08c;
  font-weight: 600;
}

.search-box {
  display: flex;
  width: 1000px;
  height: 95px;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  background: #1b272e;
  margin-top: 400px;
}

.form-container {
  background: transparent;
  width: 600px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 18px;
  color: white;
  padding-left: 35px;
  margin-right: 35px;
}

.form-container::placeholder {
  color: #999;
}

.generate-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 85px;
  font-size: 20px;
  border-radius: 50px;
  background: #08c;
  cursor: pointer;
  color: white;
  transition: background-color 0.1s ease;
}

.generate-button:hover {
  background: #016090;
}

.back-button {
  align-self: flex-start;
  padding-left: 20px;
}

.back-button button {
  padding: 10px 20px;
  background-color: #08c;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.back-button button:hover {
  background-color: #016090;
}

/* Large screens */
@media (min-width: 1024px) {
  .about-image-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.generate-picture {
  margin-top: -50px;
  margin-bottom: -380px;
}

.loader {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #f3f3f3 #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}
